<div class="container-fluid text-center bg-dark">
    <a href="/" class="navbar-brand">
        <img src="/img/Capture.png" alt="logo" height="65px">
        <h1 class="float-right mt-3 text-light">SFaraz.</h1>
    </a>
</div>