<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SFaraz.</title>
    <link rel="icon" href="/link.PNG">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="style.css">
</head>


<body>
    <%- include('partials/navbar.ejs') %>
        <!-- Modal -->
        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
            aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header bg-dark">
                        <img src="Capture.png" alt="logo" width="50" height="50">
                        <h4 class="modal-title text-warning mt-3" id="exampleModalLabel">Your Daily Macros </h4>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true" class="text-light">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body ">
                        <h2><span></span> calories : <span></span></h2>
                        <hr style="border: 1px solid black ;">
                        <h3>Protein : <span></span>g</h3>
                        <h3>Carbohydrates : <span></span>g</h3>
                        <h3>Fats : <span></span>g</h3>
                    </div>
                </div>
            </div>
        </div>



        <div class="container mt-5 text-center">
            <h1 class="text-light font-weight-bold title">
                <%=type%>
            </h1>
            <form action="" method="POST">
                <div class="form-group">
                    <input type="text" name="username" id="" class="form-control" placeholder="Your Name...">
                </div>
                <div class="form-group">
                    <input type="number" name="age" id="" class="form-control" placeholder="Your Age...">
                </div>
                <div class="form-group">
                    <input type="number" name="weight" id="" class="form-control" placeholder="Your Weight in lbs..."
                        >
                </div>
                <div class="d-flex">
                    <label for="feet">
                        <h5 class="pt-1">Height&nbsp;</h5>
                    </label>
                    <input type="number" name="feet" id="" class="form-control" placeholder="e.g 5.7 ft (5feet here)">
                    &nbsp;
                    <input type="number" name="inches" id="" class="form-control" placeholder="e.g 5.7 ft (7inch here)">
                </div>
                <input type="button" name="sub" value="Submit" data-toggle="modal" data-target="#exampleModal"
                    class="btn btn-success btn-lg w-50 mt-2">
            </form>
        </div>

        <%- include('partials/footer.ejs') %>

        <script src="createMacros.js"></script>
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
            integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
            crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            crossorigin="anonymous"></script>
</body>