<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SFaraz.</title>
    <link rel="icon" href="/img/link.png">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <!-- Navbar -->
    <%- include ('partials/navbar.ejs')%>
        <!-- Navbar -->

        <!-- Main -->
            <div class="container mt-5">
                <h1 class="text-center text-light">Workout Plans</h1>
                <div class="accordion" id="accordionExample">
                    <div class="card">
                      <div class="card-header" id="headingOne">
                          <h5>
                            >
                            <a href="/docs/3_days.pdf" target="_blank">3 days Push Legs Pull split</a>
                        </h5>
                      </div>
                    </div>

                    <div class="card mt-2">
                        <div class="card-header" id="headingOne">
                            <h5 class="text-link">
                              >
                              <a href="/docs/4_days.pdf" target="_blank">4 days Dorian Yate's split</a>
                          </h5>
                        </div>
                    </div>

                    <div class="card mt-2">
                        <div class="card-header" id="headingOne">
                            <h5 class="text-link">
                              >
                              <a href="/docs/5_days.pdf" target="_blank">5 days Old School and Hybrid split</a>
                          </h5>
                        </div>
                    </div>

                    <div class="card mt-2">
                        <div class="card-header" id="headingOne">
                            <h5 class="text-link">
                              >
                              <a href="/docs/6 days.pdf" target="_blank">6 days Push Legs Pull split</a>
                          </h5>
                        </div>
                    </div>
                </div>
            </div>
        <!-- Main -->

        <!-- Footer -->
        <%- include ('partials/footer.ejs')%>
        <!-- Footer -->

            <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
                integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
                crossorigin="anonymous"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
                integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
                crossorigin="anonymous"></script>
            <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
                integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
                crossorigin="anonymous"></script>
</body>

</html>